/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}
body a {
  color: black;
  text-decoration: none;
}
.content {
  display: block;
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px;
}
header {
  line-height: 70px;
  position: relative;
}
header a {
  text-decoration: none;
  color: black;
  line-height: 70px;
}
header a #logo {
  display: inline-block;
  width: 70px;
  height: 70px;
  background: gray;
  text-align: center;
  font-size: 16px;
  color: white;
  margin-right: 20px;
}
header a #name {
  position: absolute;
  font-size: 50px;
}
header ul.social-media {
  float: right;
  list-style: none;
}
header ul.social-media li {
  font-size: 2.5rem;
  display: inline;
}
header ul.social-media li a {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background: black;
  text-align: center;
  line-height: 3rem;
  border-radius: 3rem;
  color: white;
}
nav {
  margin: 20px 0 20px 0;
  padding: 10px 0;
  border: 1px solid black;
  background: darkgray;
}
nav ul {
  padding-left: 0px;
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.6em;
  padding: 0 10px;
}
section {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
  font-size: 1.5em;
}
section:before,
section:after {
  content: "";
  display: table;
}
section:after {
  clear: both;
}
section article.main-article {
  float: left;
  width: 75%;
}
section article.main-article h1 {
  font-size: 2.2rem;
  margin-bottom: 0px;
}
section article.main-article time {
  margin-top: -20px;
  font-size: 0.8rem;
}
section article.main-article figure.lead-photo {
  background: gray;
  margin: 10px 0px;
  width: calc(100% -2px);
  padding-top: 75%;
}
section aside {
  float: right;
  width: 25%;
}
section aside article {
  margin: 5px;
}
section aside article h3 {
  font-size: 1.7rem;
}
section aside article figure {
  position: relative;
  margin: 5px 0;
  background: gray;
  width: 100%;
  padding-top: 100%;
}
section aside article figure span {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 50%;
  font-size: 40px;
  line-height: 40px;
  margin-top: -20px;
  color: white;
}
footer {
  min-height: 50px;
  background: darkgray;
  border: 1px solid black;
  margin-top: 10px;
  text-align: center;
  line-height: 50px;
}
